server {
    listen 80;
    index index.php index.html;

    server_name localhost;

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    root /data/www;

    location / {
#        try_files $uri /index.php?$args;
    }



    location ~ ^/(fpm-status|ping)$ {
        fastcgi_pass php:9000;
        include fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
    }


    location ~* \.php$ {
        fastcgi_pass php:9000;
        include         fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
    }
}